#container {
	@include columns(8);
	background-color: #4472B9;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	padding: 10px 0;
	border: 3px solid;
	@include border-radius(10px, 10px, 10px, 10px);
}