@mixin accordion{

	ul{
		padding: 0;
		li{
			list-style: none;

			.accordion-head{
				display: block;
				text-decoration: none;
				padding: 10px 0;

				&:before{
					//Closed icon
				}
			}

			.open{
				&:before{
					//Open icon
				}
			}
		}
	}
}