@mixin dropdown-nav {
	display: block;

	ul {
		@include horizontal-nav;
		@include clear-after;
		li {
			float: left;
			@include clear-after;
			a {
				&:hover {}
			}
		}

	   li a span.dropdown {
	       &:after {
		       	@include pseudo-block;
				@include load-sprite($sprite-one);
				@include dropdown-icon;
				float: right;
	       }
	       &:hover {
	           &:after {
		       	@include pseudo-block;
				@include load-sprite($sprite-one);
				@include dropdown-icon-hover;
				float: right;
	           }
	       }
	   }

	   // Sub menu
	   li {
	       position: relative;
	       &:hover a.parent {
	           text-decoration: underline;
	       }
	       &:hover ul {
	           left: 0;
	       }
	       ul {
	           text-align: left;
	           background: $color-two;
	           list-style: none;
	           position: absolute;
	           padding: 0;
	           margin: 0;
	           left: -9999px;
	           width: 200px;
	           z-index: 1001;
	           li {
	               display: block;
	               float: none;
	               padding: 2px 0 0 0;
	               a {
	                   text-transform: none;
	                   white-space: nowrap;
	                   font-weight: 400;
	                   &:hover {
	                       color: $color-four;
	                       text-decoration: underline;
	                   }
	               }
	           }
	       }
	   }
	}
}