@mixin load-sprite($sprite:$sprite-one, $two-times-sprite:$sprite-two) {
	background-image: $sprite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 500px 200px;

	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
		background-image: $two-times-sprite;
	}
}