// Colours
$color-bg-body: #fff;

$color-one: white;
$color-two: black;
$color-three: $color-bg-body;

// Fonts
$font-family-one: 'Arial';
$font-family-two: 'sans-serif';

// Sizes
$size-one: 11px;
$size-two: 12px;
$size-three: 13px;
$size-four: 14px;
$size-five: 15px;
$size-six: 20px;
$size-seven: 21px;
$size-eight: 24px;
$size-nine: 25px;
$size-ten: 40px;

// Weights
$weight-one: 100; //thin
$weight-two: 200; //extra-light
$weight-three: 300; //light
$weight-four: 400; //normal
$weight-five: 500; //medium
$weight-six: 600; //semi-bold
$weight-seven: 700; //bold
$weight-eight: 800; //extra-bold
$weight-nine: 900; //ultra-bold

// Sprites
$sprite-one: url('../img/sprite_1x.png');
$sprite-two: url('../img/sprite_2x.png');