
$color-bg-body: green;
$color-primary: red;
$color-secondary: yellow;
$color-tertiary: blue;
$color-quartinary: aqua;


$font-family-primary: 'Arial';
$font-family-secondary: 'sans-serif';

$font-color-primary: purple;
$font-color-secondary: brown;
$font-color-tertiary: gold;