@mixin two-col-sidebar-left($type: 'thirds', $article-element: article, $sidebar-element: aside){
	@include structure;

	#{$sidebar-element}{
		float: left;

		@if $type == 'thirds' or $type == 1/3{
			@include cols(1/3, $column-margin);
		}
		@else if $type == 'quaters' or $type == 1/4{
			@include cols(1/4, $column-margin);
		}



		@include breakpoint($break-s) {
			width: 100%;
			float: none;
			margin-right: 0;
			display: block;
			margin-bottom: $mobile-column-margin;
		}
	}

	#{$article-element}{

		@if $type == 'thirds' or $type == 1/3{
			@include cols(2/3, $column-margin);
		}
		@else if $type == 'quaters' or $type == 1/4{
			@include cols(3/4, $column-margin);
		}

		float: right;
		margin-right: 0;



		@include breakpoint($break-s) {
			width: 100%;
			float: none;
			margin-bottom: $mobile-column-margin;
			margin-right: 0;
			display: block;
		}
	}
}