@mixin three-col-sidebar-left($article-element: figure, $sidebar-element: aside){
	@include structure;

	#{$sidebar-element}{
		@include cols(1/4, $column-margin);
		float: left;
	}

	#{$article-element}{
		@include cols(1.5/4, $column-margin);
		float: left;
	}
	
	@include breakpoint($break-s) {
		#{$sidebar-element}, #{$article-element}{
			width: 100%;
			float: none;
			margin-right: 0;
			display: block;
			margin-bottom: $mobile-column-margin;
		}
	}
}