@mixin four-col($element: figure){
	@include structure;

	#{$element}{
		float: left;
		@include cols(1/4, $column-margin);

		@include breakpoint($break-s) {
			width: 100%;
			float: none;
			margin-bottom: 10px;
			margin-right: 0;
			display: block;
		}
	}
}