body {
	background-color: $color-bg-body;
	color: $color-two;
	font-family: $font-family-one;
	overflow-x: hidden;
	min-width: $size-ten;
}

html{
	overflow-x: scroll;
}<% if(responsive) {%>
	
body{
	@media (max-width: 960px) {
		min-width: 100%;
	}
}


html{
	@media (min-width: 960px) { 
		overflow-x: hidden; 
	}
}<% } %>