@mixin poseidon($element: article){
	@include structure;
	max-width: 780px;

	#{$element}{
		@include cols(1/2, 10%);
		float: left;


		@include breakpoint($break-s) {
			width: 100%;
			float: none;
			margin-bottom: $mobile-column-margin;
			margin-right: 0;
			display: block;
		}
	}
}